doctype
html
  head
    title T/T/T
    link(rel='stylesheet' href='/main.css')

  body
    h1 Wassup Ready to Toe? Join or create a game
    p
      a(href='/game/create') Create New Game
    p
      a(href='/gameroom') Join a game
